process {
    // 1. Forzamos a que CUALQUIER proceso no pase de tus límites físicos
    cpus   = 2
    memory = '6 GB'

    // 2. nf-core usa etiquetas (labels) para asignar recursos. 
    // Vamos a redefinirlas todas para que quepan en tu PC.
    withLabel: 'process_low' {
        cpus   = 1
        memory = '2 GB'
    }
    withLabel: 'process_medium' {
        cpus   = 2
        memory = '6 GB'
    }
    withLabel: 'process_high' {
        cpus   = 2
        memory = '6 GB'
    }
    withLabel: 'process_long' {
        cpus   = 2
        memory = '6 GB'
    }

    // 3. Ajuste específico para FASTQC que es el que te falló ahora
    withName: '.*FASTQC' {
        cpus   = 1
        memory = '4 GB'
    }
}

docker.enabled = true